* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

a {
  text-decoration: none;
}

body {
  background-color: antiquewhite;
  font-family: "Rubik Mono One", monospace;
  height: 100vh;
  font-size: 12px;
  padding-top: 20px;
}

section {
  background-color: azure;
  border-radius: 5px;
  margin: 100px;
  margin-left: 0px;
  margin-right:0px;
  padding: 150px;
  padding-top: 80px ;
  padding-bottom: 80px;
}

section h1 {
  font-size: 40px;
  margin-left: 15px;
}

section h2 {
  margin-left: 15px;
}


section .servicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

section .servico {
  margin: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 450px;
  background-color: lightblue;
  padding: 10px;
  font-size: 20px;
  box-shadow: 5px 5px 10px slategrey;
  justify-content: center;
}

section img {
  border-radius: 10px;
  width: auto;
  margin-bottom: 30px;
}

section p {
  margin: 15px;
  text-indent: 40px;
  text-align: justify;
  text-justify: inter-word;
}

.menu {
  font-family: "Rubik Mono One", monospace;
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
  font-size: initial;
}

.menu img {
  width: 100px;
  transition: background-color 1s, color 1s;
  display: block;
  text-decoration: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu .btns {
  display: block;
  padding: 25px 100px;
  transition: background-color 1s, color 1s;
  text-decoration: none;
}

.menu .btns:active,
.menu .btns:hover {
  background-color: teal;
  color: white;
}

.contato a {
    color: black;
    font-size: 4em;
    transition: text-shadow 1s;
}